<% if @lift.present? %>
  <% if @lift.errors.any? %>
    <% @lift.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new lift
</h1>


<hr>

<form action="/create_lift" method="post">

  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :user_id, @lift.workout_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body_part">
      Body part
    </label>

    <input type="text" id="body_part" name="body_part" class="form-control" value="<%= @lift.body_part %>">
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @lift.comments %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create lift
  </button>
</form>

<hr>

<a href="/lifts">
  Go back
</a>
