<!-- Validation failure messages -->
<% if @workout.present? %>
  <% if @workout.errors.any? %>
    <% @workout.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new workout
</h1>


<hr>

<!-- Form workout start -->
<form action="/create_workout" method="post">
<!-- Form workout end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @workout.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control" value="<%= @workout.date %>">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control" value="<%= @workout.category %>">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <button class="btn btn-block btn-outline-secondary">
    Create workout
  </button>
</form>

<hr>

<a href="/workouts">
  Go back
</a>
