<h1>
  Add a new workout
</h1>


<hr>

<!-- Form workout start -->
<form action="/create_workout" method="post">
<!-- Form workout end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <button class="btn btn-block btn-outline-secondary">
    Create workout
  </button>
</form>

<hr>

<a href="/workouts">
  Go back
</a>
