<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Workouts

    <a data-toggle="collapse" href="#user_workouts_new_form">
      Add workout
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.workouts.each do |workout| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/workouts/<%= workout.id %>">
          <%= workout.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
